doctype html
html(lang="zh-CN")
    body.opg
        .banner.clearfix                          
            .banner-cent
        .activity
            .activity-pic
                a(href="javascript:;",target="_blank") test1/12.pug
                  img(src='//js.dev.meixincdn.com/CDN8017/dist/images/test/logo.png')