doctype html
html(lang="zh-CN")
    body.opg
        .banner.clearfix                          
            .banner-cent
        .activity
            .activity-pic
                a(href="javascript:;",target="_blank") test1/2.pug